body{
    background-image: url("../img/mainBg2.jpg");
    background-repeat: no-repeat;
    background-size: auto 400%;
    background-position: center top;
    background-attachment: fixed;

}

main{
    margin: 5%;
}

.carouselEl{
    float: left;
    width: 900px;
    margin-left: 5%;
}
.card{
    width: 18rem;
    float: left;
    height: 600px;
}
.btn-color{
    background-color: black;
    color: white;
    margin-bottom: .5rem;
    width: 12rem;
}
.carousel-inner{
    border-radius: 3px;
}

.carousel-item{
    width: 900px;
    height: 600px;
}

.carouselImg{
    max-width: 100%;
    max-height: auto;
    vertical-align: middle;
}

#modalImg{
    width: 450px;
}
.modal-header,
.modal-footer{
    background-color: black;
    color: white;
}
main.container{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 8px black;
}
.imageHov{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 0 1rem 1rem 0;
    overflow: hidden;
    border-radius: .5rem;
    background-color: white;
}
.imageHov:hover{
    cursor: pointer;
}
.imgSize{
    max-width: 100%;
    max-height: auto;
    vertical-align: middle;
}
.socialGroup{
    text-align: center;
    border-radius: .5rem;
    background-color: white;
    padding: .25rem 0;
    width: 200px;
    margin: 0 auto;
}
#socialIcon{
    width:  2rem;
}
@media screen and (max-width: 425px) {
    body{
        text-align: center;
    }
    main{
        margin: 1rem auto;
        width: 100%;
        text-align: center;

    }
    .card{
        float: none;
        margin: auto;
    }

    .carouselEl,
    .carousel-item{
        width: 18rem;
    }

    .carouselEl{
        float: none;
        margin: 1rem auto;
    }
}

